.col-md-6
  = link_to game do
    .card
      .card-header
        .row
          .col-md-12
            %h3.card-title= game.name
      .card-body
        %p= game.short_description
        .row
          .col-md-4
            %h5 Steps
            %p= "#{game.game_steps.count} Steps"
          .col-md-4
            %h5 Difficulty
            %p= game.difficulty
          .col-md-4
            %h5 Grades
            %p= game.grades.map { |g| g.name }.join ", "
      .card-footer
        = link_to 'Edit Game', edit_admin_game_path(game), class: "btn btn-sm btn-primary"
        = link_to 'Delete Game', admin_game_path(game), method: :delete, data: { confirm: 'Are you sure?' }, class: "btn btn-sm btn-danger"

      -# { style: "background-image: url(#{image_url(game.background.url(:thumb))})" }
      -# = image_tag game.background.url :thumb, class: 'img-fluid'
