.nested-fields

  .card
    .card-header{ role: 'tab', id: "header-#{f.object.id}" }
      = f.text_field :position, hidden: true
      .form-inline
        = f.text_field :name, class: 'form-control col-md-11', required: true
        = link_to "#collapse-#{f.object.id}", class: 'float-right ml-3',
            data: { parent: '#game_steps', toggle: 'collapse' } do
          = icon 'caret-down'
        %a.sortable-handle.float-right.ml-2{ href: '#' }
          = icon 'arrows'

    .collapse{ id: "collapse-#{f.object.id}", role: 'tabpanel', data: { parent: '#game_steps' } }
      .card-body
        .row
          .col-6
            .form-group
              = f.label :description
              = f.text_area :description, class: 'form-control', rows: 12
          .col-6
            .form-group
              = f.label :image
              = f.file_field :image
            = image_tag f.object.image.url :thumb

        .hints
          %fieldset.border.border-primary.rounded.p-4
            %legend Hints
            = f.fields_for :hints do |hint|
              = render 'hint_fields', f: hint
            .links
              = link_to_add_association 'add hint', f, :hints, class: 'btn btn-primary'

          %fieldset.border.border-primary.rounded.p-4
            %legend Solutions
            = f.fields_for :game_step_solutions do |game_step_solution|
              = render 'game_step_solution_fields', f: game_step_solution
            .links
              = link_to_add_association 'add solution', f, :game_step_solutions, class: 'btn btn-primary mt-3'

        = link_to_remove_association 'remove game step', f, class: 'btn btn-danger mt-3'
