.col-md-4.nested-fields
  .card
    .card-header
      = f.text_field :name, class: 'form-control', required: true, placeholder: "Asset Name"
    - if !f.object.file_file_name
      .card-body
        .form-group.col-6
          = f.file_field :file
        = link_to_remove_association f, class: 'btn btn-sm btn-danger' do
          %i.fa.fa-trash
    - else
      .card-footer
        %span= "File: #{f.object.file_file_name}"
        = link_to_remove_association f, class: 'btn btn-sm btn-danger' do
          %i.fa.fa-trash
