.col-md-4.nested-fields

  .card
    .card-body
      = f.hidden_field :image_solution_id, data: { image_solution_id: true }
      .form-group
        = f.file_field :image, class: 'form-control-file'

      .text-center
        = image_tag f.object.image.url(:thumb), width: 200, height: 200

    .card-footer
      %span
        = sf.radio_button :image_solution_id, f.object.id
        Select For Answer
      = link_to_remove_association f, class: 'btn btn-sm btn-danger' do
        %i.fa.fa-trash
