.col-md-3
  .game-container
    = link_to game do
      %h4= game.name
      %p= game.short_description
      %p= "#{game.game_steps.count} Steps"
      %p= "Difficulty: #{game.difficulty}"
      %p= "Age Range: #{game.age_range}"
    .game-footer
      = link_to 'Edit', edit_game_path(game), class: "btn btn-sm btn-primary"
      = link_to 'Delete', game, method: :delete, data: { confirm: 'Are you sure?' }, class: "btn btn-sm btn-danger"
