.col-md-6.col-xs-12
  = link_to game do
    .card
      .card-header
        .row
          .col-md-12
            %h3.card-title= game.name
      .card-body
        %p= game.short_description
        .row
          .col-md-4
            %h5 Steps
            %p= "#{game.game_steps.count} Steps"
          .col-md-4
            %h5 Difficulty
            %p= game.difficulty
          .col-md-4
            %h5 Grades
            %p= game.grades.map { |g| g.name }.join ", "
    -# .game-container{ style: "background-image: url(#{image_url(game.background.url(:thumb))});background-size:cover" }
    -#   -# = image_tag game.background.url :thumb, class: 'img-fluid'
    -#   %h4= game.name
    -#   %p= game.short_description
    -#   %p #{game.game_steps.count} Steps
    -#   %p Difficulty: #{game.difficulty}
    -#   %p Grades: #{game.grades.map(&:name).join ', '}
