.col-md-3
  = link_to game do
    .game-container{ style: "background-image: url(#{image_url(game.background.url(:thumb))})" }
      -# = image_tag game.background.url :thumb, class: 'img-fluid'
      %h4= game.name
      %p= game.short_description
      %p #{game.game_steps.count} Steps
      %p Difficulty: #{game.difficulty}
      %p Grades: #{game.grades.map(&:name).join ', '}
