= content_for :title do
  All Games
#games-list
  %section
    .container.full-vh-minus-nav
      .row.page-bar
      .row.py-3
        .col-md-12.form-inline.mb-4
          %label.mr-3
            %strong Filter:

          = label_tag :difficulty_filter, 'Difficulty', class: 'mx-2'
          = select_tag :difficulty_filter, options_for_select(Game.difficulties),
            include_blank: true, class: 'form-control mr-3', autocomplete: :off

          = label_tag :age_filter, 'Grade', class: 'mx-2'
          = select_tag :age_filter, options_for_select(Grade.pluck(:name, :id)),
            include_blank: true, class: 'form-control mr-3', autocomplete: :off

          = label_tag :allowed_filter, class: 'form-check-label' do
            %input#allowed_filter.form-check-input{ type: 'checkbox',
              checked: true, autocomplete: 'off' }
            &nbsp;Show only allowed games

      #games-user-list.row= render @games
