#games-list

  .page-head
    .container
      .row
        .col-md-10
          %h4 All Games
        .col-md-2

  %section
    .container
      .row
        .col-md-12.form-inline.mb-4
          %label.mr-3
            %strong Filter:

          = label_tag :difficulty_filter, 'Difficulty', class: 'mx-2'
          = select_tag :difficulty_filter, options_for_select(Game.difficulties),
            include_blank: true, class: 'form-control mr-3', autocomplete: :off

          = label_tag :age_filter, 'Age range', class: 'mx-2'
          = select_tag :age_filter, options_for_select(Grade.pluck :name, :id),
            include_blank: true, class: 'form-control', autocomplete: :off

      #games-user-list.row= render @games

      -# %table.table.table-striped
        %thead
          %tr
            %th Name
            %th Short Description
            %th # of Steps
            %th
              Difficulty
              = select_tag :difficulty_filter, options_for_select(Game.difficulties),
                class: 'form-control', include_blank: true
            %th
              Age range
              = select_tag :age_filter, options_for_select(Game.age_ranges),
                class: 'form-control', include_blank: true
            %th Actions

        %tbody= render partial: 'table_body'
