%p#notice= notice

%p
  %b Name:
  = @game.name
%p
  %b Description:
  = @game.description
%p
  %b Status:
  = @game.status
%p
  %b Difficulty:
  = @game.difficulty
%p
  %b Age range:
  = @game.age_range
%p
  %b Score:
  = @game.score


%h3 Game Steps
- @game.game_steps.each do |game_step|
  %p= game_step.name
  %p= game_step.description
  %p= game_step.value

= link_to 'Edit', edit_game_path(@game)
\|
= link_to 'Back', games_path
