#game-show
  .page-head
    .container
      .row
        .col-md-10
          %h4= @game.name
        -if current_user && current_user.admin
          .col-md-2
            = link_to 'Edit', edit_admin_game_path(@game), class: "btn btn-sm btn-primary"

  %section
    = image_tag @game.background.url, class: 'img-fluid game-back-img'
    .container
      .row
        .col-md-10

          %p#notice= notice

          %p
            %b Description:
            = @game.description
          %p
            %b Short Description:
            = @game.short_description
          %p
            %b Difficulty:
            = @game.difficulty
          %p
            %b Age range:
            = @game.age_range
          %p
            %b Max Time Alloted:
            = @game.time_length
          %p
            %b Steps:
            = @game.game_steps.count
          %p
            %b= link_to 'Instructions', @game.instructions_pdf.url

        .col-md-2
          = display_timer

          = link_to 'Start game', game_start_url(@game), method: :post,
            id: 'start-game-btn', class: "btn btn-primary",
            style: "#{@running || @paused_at ? 'display:none' : ''}"

      .row
        .col-md-12
          %h3.text-center Top 10
          %table.table.table-striped
            %thead
              %tr
                %th Time
                %th E-mail
            %tbody
              - @game.user_games.includes(:user).where.not(result: nil).order(:result).first(10).each do |user_game|
                %tr
                  %td= user_game.formated_result
                  %td= user_game.user.email

      -# - @game.game_steps.each do |step|
        .step-container
          %h4= step.name
          %p= step.description

          %h5 Hints
          -# TODO: put hints into a button that triggers a modal and removes points from total score
          - step.hints.each do |hint|
            .hint-container
              %p= hint.description
              %span.hint-value= "#{hint.value} pts"

          %hr
          %h5 Solutions
          - step.game_step_solutions.each do |game_step_solution|
            .hint-container
              %p= game_step_solution.solution
