#game-show
  .page-head
    .container
      .row
        .col-md-10
          %h4= @game.name
        .col-md-2
          = link_to 'Edit', edit_game_path(@game), class: "btn btn-sm btn-primary"

  %section
    .container

      %p#notice= notice

      %p
        %b Description:
        = @game.description
      %p
        %b Short Description:
        = @game.short_description
      %p
        %b Difficulty:
        = @game.difficulty
      %p
        %b Age range:
        = @game.age_range
      %p
        %b Max Time Alloted:
        = @game.time_length


      - @game.game_steps.each do |step|
        .step-container
          %h4= step.name
          %p= step.description

          %h5 Hints
          -# TODO: put hints into a button that triggers a modal and removes points from total score
          - step.hints.each do |hint|
            .hint-container
              %p= hint.description
              %span.hint-value= "#{hint.value} pts"

          %hr
          %h5 Solutions
          - step.game_step_solutions.each do |game_step_solution|
            .hint-container
              %p= game_step_solution.solution
