%p#notice= notice

%p
  %b Name:
  = @game.name
%p
  %b Description:
  = @game.description
%p
  %b Status:
  = @game.status
%p
  %b Difficulty:
  = @game.difficulty
%p
  %b Age range:
  = @game.age_range
%p
  %b Score:
  = @game.score

= link_to 'Edit', edit_game_path(@game)
\|
= link_to 'Back', games_path
