-# = content_for :title do
-#   = @game.name

#start-game-modal.modal.fade
  .modal-dialog
    .modal-content
      .modal-header
        %h5.modal-title
          Starting game
          = "\"#{@game.name}\""
        %button.close{ type: 'button', data: { dismiss: 'modal' } }
          %span &times;
      .modal-body
        %p
          You are about start a game. The game has several steps. Each step is a question.
          The goal of the gamime is completing it as fast as you can. When you start game a timer will starts countdown.
          You should answer a question before go to next step. Each step has hints and each hint has penalty.
          If you user a hint it reduce rest time. When you pass all steps game will be finished.
      .modal-footer
        = link_to 'Start game', game_start_url(@game), class: 'btn btn-primary',
          id: 'start-game-btn'

#game-show{ style: "background-image: url(#{image_url(@game.background.url)}); background-size: cover; min-height: 94vh" }
  %section.page-content
    .container

      .card
        .card-header
          .row
            .col-md-8
              %h3.card-title= @game.name
            .col-md-4
              - if current_user && current_user.admin
                = link_to 'Edit Game', edit_admin_game_path(@game), class: "btn btn-sm btn-primary", id: 'start-game-btn'
        .card-body
          -# = image_tag @game.banner.url :thumb, class: 'img-fluid'
          %p= @game.description
          .row.game-details
            .col-md-3
              .card-content-container
                %h5 Difficulty
                %p= @game.difficulty
            .col-md-3
              .card-content-container
                %h5 Grade Level
                %p= @game.grades.map { |g| g.name}.join ', '
            .col-md-3
              .card-content-container
                %h5 Game Steps
                %p= @game.game_steps.count
            .col-md-3
              .card-content-container
                %h5 Game Length
                %p= "#{@game.time_length} minutes"
          %p
            %b Assets
            - @game.game_assets.each do |asset|
              %p= link_to asset.name, asset.file.url

          .row.game-actions
            .col-md-12
              = link_to 'Download Instructions', @game.instructions_pdf.url, class: "btn btn-primary"
              - if policy(@game).start?
                = display_timer

                = button_tag 'Start game', data: { target: '#start-game-modal', toggle: 'modal' },
                  class: "btn btn-primary", style: "#{@running || @paused_at ? 'display:none' : ''}"

                - if user_game = current_user.user_games.running.where(game_id: @game.id).first
                  = link_to 'Go to game steps', user_game_step_url(user_game, user_game.last_allowed_step), id: 'link-to-steps', class: "btn btn-primary"
              - else
                = link_to 'You have no subscription to start the game', '#', class: "btn btn-secondary disabled"


          - if @game.user_games.where("result>0").count > 0
            .row
              .col-md-12
                %h3.text-center Top 10
                %table.table.table-striped
                  %thead
                    %tr
                      %th Time
                      %th E-mail
                  %tbody
                    - @game.user_games.includes(:user).where("result>0").order(:result).first(10).each do |user_game|
                      %tr
                        %td= user_game.formated_result
                        %td= user_game.user.email

      -# - @game.game_steps.each do |step|
        .step-container
          %h4= step.name
          %p= step.description

          %h5 Hints
          -# TODO: put hints into a button that triggers a modal and removes points from total score
          - step.hints.each do |hint|
            .hint-container
              %p= hint.description
              %span.hint-value= "#{hint.value} pts"

          %hr
          %h5 Solutions
          - step.game_step_solutions.each do |game_step_solution|
            .hint-container
              %p= game_step_solution.solution
