#game-show
  .page-head
    .container
      .row
        .col-md-10
          %h4= @game.name

  %section
    .container
      .row
        .col-md-10

          %p#notice= notice

          %p
            %b Step name:
            = @step.name

          %p
            %b Step description:
            = @step.description

        .col-md-2
          = display_timer

      .row
        .col-md-12
          = form_tag game_steps_flow_url(@game, @step) do
            %p
              .form-group
                = label_tag :answer
                = text_field_tag :answer, @answer, class: 'form-control'

            - if @step.previous(current_user.id)
              = link_to 'Previous step', game_steps_flow_url(@game), class: 'btn btn-primary'

            .text-center
              = submit_tag 'Post answer', class: 'btn btn-primary'

            - if @step.next(current_user.id)
              = link_to 'Next step', game_steps_flow_url(@game), class: 'btn btn-primary pull-right'
