= content_for :title do
  = @user_game.game.name

#game-show{ style: "background-image: url(#{image_url(@user_game.game.background.url)})" }
  %section
    .container.pattern-bottom
      .row.page-bar
      .game-step-subnav
        .progress.mb-4
          .progress-bar{ style: "width:#{@progress_pescent}" }
            = @progress_step

      .row
        .col-md-12

          %h2.mt-4
            Result
            = @user_game.formated_result

          = link_to 'Game description', game_path(@user_game.game)
