#result-modal.modal.fade
  .modal-dialog
    .modal-content
      .modal-body
        %h2.text-center

#timeout-redirect-url{ hidden: true }= user_game_result_url(@user_game)
#game-show
  .page-head
    .container
      .row
        .col-md-10
          %h4= @game.name

  %section
    = image_tag @game.background.url, class: 'img-fluid game-back-img'
    .container
      .game-step-subnav
        .progress.mb-4
          .progress-bar{ style: "width:#{@progress_pescent}" }
            = @progress_step
        = display_timer(inline: true)

      .row.mt-4
        .col-md-12

          %p
            %b Step name:
            = @step.name

          %p
            %b Step description:
            = @step.description
            
          - if @step.image.present?
            %p.text-center= image_tag @step.image.url :thumb

      .row
        #hints-container.col-md-12.text-center
          = render partial: 'hints'

      .row
        .col-md-12
          = form_tag user_game_step_url(@user_game, @step), id: 'step-form' do
            %p
              - if has_solutions = @step.game_step_solutions.any?
                .form-group
                  = label_tag :answer
                  = text_field_tag :answer, @answer, class: 'form-control', disabled: @answered

            .row
              .col-md-4
                - if previous_step = @step.previous(current_user.id)
                  = link_to 'Previous step', user_game_step_url(@user_game, previous_step),
                    class: 'btn btn-primary float-md-left'

              .col-md-4
                .text-center
                  - if has_solutions && !@answered
                    = link_to 'Post answer', user_game_step_url(@user_game, @step),
                      class: 'btn btn-primary', id: 'answer-btn'
                  - elsif !@next_step && !has_solutions
                    = link_to 'Finish the game', user_game_step_url(@user_game, @step),
                    class: 'btn btn-primary', method: :post

              .col-md-4
                - if @next_step
                  = link_to 'Next step', user_game_step_url(@user_game, @next_step),
                    class: 'btn btn-primary float-md-right'
