= content_for :title do
  = @game.name
= render 'eye_in_keyhole_common'

#result-modal.modal.fade
  .modal-dialog
    .modal-content
      .modal-body
        %h2.text-center
        #success-animation.text-center.d-none
          = render 'eye_in_keyhole_animation', color: 'blue'
        #negative-animation.text-center.d-none
          = render 'eye_in_keyhole_animation', color: 'red'

#timeout-redirect-url{ hidden: true }= user_game_result_url(@user_game)


#game-show{ style: "background-image: url(#{image_url(@game.background.url)})" }

  %section#game-step
    .container.full-vh-minus-nav.pattern-bottom
      .row.page-bar

      .game-whitespace
        .row.pt-5
          .col-12.text-center
            %h4.step-title
              = image_tag 'icon-magnifier.svg', height: 40
              = @step.name

        = image_tag 'divider-orange.svg'

        .row.mt-4.row-v-space
          .col-md-12
            %p.step-description
              = @step.description

        - if @step.image.present?
          .row.row-v-space
            .col-md-12.text-center
              = image_tag @step.image.url, class: "rounded img-fluid mx-auto d-block"

        -# .row
          #hints-container.col-md-12.text-center
            = render partial: 'hints'

        .row
          .col-md-12
            = form_tag user_game_step_url(@user_game, @step), id: 'step-form' do
              %p
                - if has_solutions = @step.game_step_solutions.any?
                  - if @step.text_field?
                    .form-group
                      -# = label_tag :answer
                      = text_field_tag :answer, @answer, class: 'form-control', disabled: @answered,
                        placeholder: 'Put your answer here...'
                  - else
                    .d-flex.justify-content-center
                      = render 'pages/padlock'
                    = hidden_field_tag :answer, '000', autocomplete: :off

              .row
                .col-md-4
                  -# if previous_step = @step.previous(current_user.id)
                    = link_to 'Previous step', user_game_step_url(@user_game, previous_step),
                      class: 'btn btn-primary float-md-left'

                .col-md-4
                  .text-center
                    - if has_solutions && !@answered
                      = link_to 'Confirm', user_game_step_url(@user_game, @step),
                        class: 'btn btn-primary', id: 'answer-btn'
                    - elsif @next_step
                      = link_to 'Next Step', user_game_step_url(@user_game, @next_step),
                        class: 'btn btn-primary'
                    - elsif !@next_step && !has_solutions
                      = link_to 'Finish the Game', user_game_step_url(@user_game, @step),
                      class: 'btn btn-primary', method: :post

                .col-md-4
                  -# if @next_step
                    = link_to 'Next step', user_game_step_url(@user_game, @next_step),
                      class: 'btn btn-primary float-md-right'

        .row
          .col-md-12{ style: 'padding-top:100px' }
            -# %hr

      -# Hints
      - if @step.hints.any?
        :ruby
          # Retrive opened hints
          hints = @user_game.hints.where(game_step_id: @step.id)
          next_hint = @step.hints.covered(@user_game).first
          show_next_hint = !@answered && !@user_game.finished_at && next_hint

        #hint-bar.hint-bar-hidden{ class: show_next_hint ? 'hint-bar-animate' : '' }
          .container
            .hint-title.text-center
              %i.fa.fa-caret-up
              Hint
              %i.fa.fa-caret-up

            -# Show animation if there aren't opened hints
            - if hints.blank? && @step.hints.any?
              #hint-open-animation
                = render 'eye_in_keyhole_animation', hint: @step.hints.first, user_game: @user_game, step: @step, color: 'yellow'

            .hint-body
              #hints-carousel.carousel.slide{ data: { interval: 'false' } }
                = render 'hints', user_game: @user_game, step: @step, hints: hints

              - if @step.hints.size > 1
                -# Show navigation buttons
                %a.carousel-control-prev{ href: '#hints-carousel', role: 'button', data: { slide: 'prev' } }
                  %span.fa.fa-chevron-left{ aria: { hidden: true } }
                  %span.sr-only Previous
                %a.carousel-control-next{ href: '#hints-carousel', role: 'button', data: { slide: 'next' } }
                  %span.fa.fa-chevron-right{ aria: { hidden: true } }
                  %span.sr-only Previous
