- @cards.each do |card|
  .row.border.border-primary.mx-1.py-1.border-bottom-0.border-right-0.border-left-0
    .col-md-2= card[:brand]
    .col-md-2= card[:last4]
    .col-md-2= card[:exp]
    .col-md-1= card[:default]
    .col-md-4{ data: { card_id: card[:id] } }
      = button_tag 'Delete', class: 'btn btn-primary btn-sm delete-card-btn',
        type: 'button'
      = button_tag 'Set default', class: 'btn btn-primary btn-sm set-default-btn',
        type: 'button', disabled: card[:default] == 'default'
