.page-head
  .container
    .row
      .col-md-10
        %h4 Billing
      .col-md-2

.container

  %h4 Subscription
  = form_tag nil, id: 'change-subscribe-form' do
    .form-group
      = label_tag :subscription_plan
      = select_tag :subscription_plan, options_for_select(SubscriptionPlan.pluck(:name, :id),
        current_user.subscription_plan_id), class: 'form-control',
        prompt: 'Select subscription plan', autocomplete: :off
    = button_tag 'Change plan', disabled: true, class: 'btn btn-primary', id: 'change-plan-btn',
      type: :button, data: { current_plan: current_user.subscription_plan_id }, autocomplete: :off

  %h4.mb-3.mt-5 Invoices

  .row.border.border-primary.pt-2.border-bottom-0.border-right-0.border-left-0
    .col-md-3
      %h6 Created
    .col-md-3
      %h6 Amount
    .col-md-2
      %h6 Currency
    .col-md-2
      %h6 Status

  - @invoices.each do |invoice|
    .row.border.border-primary.py-1.border-bottom-0.border-right-0.border-left-0
      .col-md-3= invoice[:created].strftime '%F'
      .col-md-3= invoice[:amount]
      .col-md-2= invoice[:currency]
      .col-md-2= invoice[:status]
      .col-md-2
        = button_tag 'Details', class: 'btn btn-primary btn-sm', type: 'button',
          data: { toggle: 'collapse', target: "##{invoice[:id]}" }

    .collapse{ id: invoice[:id] }
      .card.card-body
        .row
          .col-md-3 Type
          .col-md-3 Name
          .col-md-2 Amount
          .col-md-2 Period start
          .col-md-2 Period end

        - invoice[:lines].each do |line|
          .row
            .col-md-3= line[:type]
            .col-md-3= line[:name]
            .col-md-2= line[:amount]
            .col-md-2= line[:period_start].strftime '%F'
            .col-md-2= line[:period_end].strftime '%F'

  %h4.mt-5 Cards
  #cards-container
    = render partial: 'cards'

  = render partial: 'card_form'
