.page-head
  .container
    .row
      .col-md-10
        %h4 Subscription plans
      .col-md-2

.container
  .row
    - @subscription_plans.each do |plan|
      .col-md-4
        .card.text-center
          .card-body
            %h4= plan.name
            %p= "$#{plan.price} / #{plan.period}"
            = link_to 'Subscribe', subscription_subscribe_url(plan.stripe_id),
              class: 'btn btn-primary'
