-# = content_for :title, 'All Users'

#users-list
  %section.page-content
    .container

      .card
        .card-header
          .row
            .col-md-8
              %h3.card-title All Users
            .col-md-4
              = link_to 'New User', new_admin_user_path, class: "btn btn-sm btn-primary"
        .card-body

          %table.table
            %thead
              %tr
                %th Name
                %th Email
                %th Games
                %th Subscription
                %th To date
                %th Actions

            %tbody
              - @users.each do |user|
                %tr
                  %td= user.name
                  %td= user.email
                  %td= user.user_games.count
                  %td= user.subscription_plan && user.subscription_plan.name
                  %td= user.period_end && user.period_end.strftime('%F')
                  %td
                    = link_to 'View', admin_user_path(user)
                    = link_to 'Edit', edit_admin_user_path(user)
                    = link_to 'Delete', admin_user_path(user), :method => :delete, :data => { :confirm => 'Are you sure?' }

      .pagination.justify-content-center
        = paginate @users
