#users-list

  .page-head
    .container
      .row
        .col-md-10
          %h4 All Users
        .col-md-2
          = link_to 'New User', new_admin_user_path, class: "btn btn-sm btn-primary"

  %section
    .container

      %table.table.table-striped
        %thead
          %tr
            %th Name
            %th Email
            %th Games
            %th Subscription
            %th To date
            %th Actions

        %tbody
          - @users.each do |user|
            %tr
              %td= user.name
              %td= user.email
              %td= user.user_games.count
              %td= user.subscription_plan && user.subscription_plan.name
              %td= user.period_end && user.period_end.strftime('%F')
              %td
                = link_to 'Show', admin_user_path(user)
                = link_to 'Edit', edit_admin_user_path(user)
                = link_to 'Destroy', admin_user_path(user), :method => :delete, :data => { :confirm => 'Are you sure?' }

  .pagination.justify-content-center
    = paginate @users
