%nav.navbar.navbar-light.bg-faded
  = link_to "Escape Lounge", root_path, class: "navbar-brand"
  %ul.nav.navbar-nav.float-xs-right
    - if user_signed_in?
      %li.nav-item
        = link_to "Games", games_path, class: "nav-link"
      %li.nav-item
        = link_to "Logout", destroy_user_session_path, method: :delete, class: "nav-link"
    - else
      %li.nav-item
        = link_to 'Login', new_user_session_path, class: "nav-link"
      %li.nav-item
        = link_to 'Sign Up', new_user_registration_path, class: "nav-link"
