%nav.navbar.navbar-expand-md.navbar-dark.sticky-top
  -# Title
  %span.text.page-title
    = yield :title
  -# Progress bar
  - if @step
    .game-progress-bar
      .circle-progress{ style: "transform: rotate(#{180-@user_game.progress_deg}deg)" }
      .timer-bar
        Time Remaining
        = display_timer bar: true
  -# Logo
  = link_to root_path, class: 'navbar-brand' do
    = image_tag 'ridlz-logo.svg'
  %button.navbar-toggler{ aria: { controls: 'navbarSupportedContent', expanded: 'false', label: 'Toggle navigation' },
      data: { target: '#navbarSupportedContent', toggle: 'collapse' }, type: 'button' }
    %span.navbar-toggler-icon

  #navbarSupportedContent.collapse.navbar-collapse
    %ul.nav.navbar-nav.ml-auto

      - if current_user && current_user.admin?
        %li.nav-item.dropdown
          %a#navbarDropdownAdminMenuLink.nav-link.dropdown-toggle{ aria: { expanded: 'false',
            haspopup: 'true' }, data: { toggle: 'dropdown' }, href: 'http://example.com' }
            Admin menu
          .dropdown-menu{ aria: { labelledby: 'navbarDropdownAdminMenuLink' } }
            = link_to 'Games Admin', admin_games_path, class: 'dropdown-item'
            = link_to 'Subscription plans', admin_subscription_plans_path, class: 'dropdown-item'
            = link_to 'Grades', admin_grades_path, class: 'dropdown-item'
            = link_to 'Users', admin_users_path, class: 'dropdown-item'

      - if current_user
        %li.nav-item
          = link_to 'Games', games_path, class: "nav-link"
        %li.nav-item.dropdown
          %a#navbarDropdownMenuLink.nav-link.dropdown-toggle{"aria-expanded" => "false",
            "aria-haspopup" => "true", "data-toggle" => "dropdown", :href => "http://example.com"}
            = current_user.email
          .dropdown-menu{"aria-labelledby" => "navbarDropdownMenuLink"}
            = link_to "Settings", edit_user_registration_path(current_user), class: "dropdown-item"
            = link_to "Billing", billing_subscriptions_path, class: "dropdown-item"
            = link_to "Game history", games_history_path, class: "dropdown-item"
            = link_to "Logout", destroy_user_session_path, method: :delete, class: "dropdown-item"

      - else
        %li.nav-item
          = link_to "Sign Up", new_user_registration_path, class: "nav-link"
        %li.nav-item
          = link_to "Log In", new_user_session_path, class: "nav-link"
