!!!
%html
  %head
    %title Escape Lounge
    = csrf_meta_tags
    = stylesheet_link_tag 'application', media: 'all', data: { turbolinks_track: 'reload' }
  %body.auth
    #flash-display
      .container
        - flash.each do |type, msg|
          %div{ class: "alert alert-#{type == :notice ? 'success' : type} fadeout", data: { dismiss: 'alert' } }
            %button.close &times;
            .text-center= msg if msg.is_a?(String)

    .auth-container
      .row
        .col-6.auth-image
        .col-6.auth-form
          .row.mx-2.mb-3.mt-4
            .col-12
              = image_tag 'logo-color-ridlz.png', class: 'img-fluid mt-5'

          = yield
